.bg-green {
  background-color: #4a6247;
}

.text-green {
  color: #00a16d;
}

.text-red {
  color: #df0906;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: #4a6247;
  color: white;
}

button:active {
  background-color: #cc9c75;
}

input[type="range"] {
  appearance: none;
  width: 200px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 250px;
  height: 5px;
  background: #4a6247;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #4a6247;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4a6247;
}

.selected {
  background-color: #cc9c75;
}

.bg-image {
  background-image: url("/images/bamboo.jpeg");
  height: 100vh;
  background-size: contain;
}

.food-input {
  font-size: 20px;
}

.card-img {
  height: 300px;
  object-fit: cover;
}

.card {
  width: 470px;
  height: 300px;
}

.card-title {
  padding-left: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 1rem;
}

.hours {
  line-height: 1.5rem;
}

.long {
  width: 18rem;
  height: auto;
}

.table-borderless {
  width: 14rem;
  border-collapse: collapse;
}

.days {
  padding-right: 0.5rem;
}
